.title	{font-family:tahoma,san-serif;font-size:13px;color:#104A7B;font-weight:BOLD;}
.bigtitle	{font-family:tahoma,san-serif;font-size:16px;color:#104A7B;font-weight:BOLD;}
.a10black {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.a10blackbold {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
.a12blackbold {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
.a12black {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt}
.a12greenbold {COLOR: GREEN;  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
.commentbg {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; background-color: #DEECF5}
.sbd	{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;}
.courier10 {font-family : "Courier New";font-size : 10pt;}
.a10red {COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.a12skybluebold {COLOR: #0087ae; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.a12bluebold {COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.a10bluebold {COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.s {FONT-FAMILY: tahoma,sans-serif; FONT-SIZE: 11px}
